@model WebApplication2.Models.Room.RoomWithRoomTypeInputModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RoomNumber" class="control-label"></label>
                <input asp-for="Input.RoomNumber" class="form-control" />
                <span asp-validation-for="Input.RoomNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Capacity" class="control-label"></label>
                <input asp-for="Input.Capacity" class="form-control" />
                <span asp-validation-for="Input.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.AdultPrice" class="control-label"></label>
                <input asp-for="Input.AdultPrice" class="form-control" />
                <span asp-validation-for="Input.AdultPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ChildrenPrice" class="control-label"></label>
                <input asp-for="Input.ChildrenPrice" class="form-control" />
                <span asp-validation-for="Input.ChildrenPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RoomTypeId" class="control-label">Room Type</label>
                <select asp-for="Input.RoomTypeId" class="form-control" asp-items="@Model.RoomTypes"></select>
                <span asp-validation-for="Input.RoomTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Upload Images</label>
                <input type="file" asp-for="Input.RoomImagesFile"  multiple class="form-control" accept="image/*" />
                <span asp-validation-for="Input.RoomImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
