@model WebApplication2.Models.RoomType.RoomTypeInput

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room Type</h1>
<hr />


<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form class="card" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-header">
                <h3 class="card-title">Edit Room Type</h3>
            </div>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-3 col-form-label required" asp-for="Type"></label>
                    <div class="col">
                        <input type="text" class="form-control" asp-for="Type" placeholder="Input placeholder">
                        <small class="form-hint">Here The Type Name That Will Display For The User.</small>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label " asp-for="Description"></label>
                    <div class="col">
                        <textarea class="form-control" data-bs-toggle="autosize" asp-for="Description" placeholder="Type something…"></textarea>

                        <small class="form-hint">Description About This Type Of Rooms And This Will Display It For The User On The Main Menu .</small>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">

                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a asp-action="Index" class="btn" role="button">Back to List</a>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
